<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Chat</title>
</head>
<body>
<div class="container w-75 p-2 border mt-3">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Mi sitio web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/carrito">Carrito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cuenta">Mi cuenta</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/chat">Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Desloguear</a>
        </li>
      </ul>
      <span class="navbar-text">
        Bienvenid@, {{nombre}}
      </span>
    </div>
  </nav>
</div>
<div class="container text-center mt-3">
  <h1>Chat</h1>
  <div class="chat-container my-4" id="chat-container">
    {{#each messages}}
      <li class="clearfix">
        <div class="message-data">
          <span class="message-data-time">{{this.fechaYHora}} - {{this.correo}}</span>
        </div>
        <div class="message my-message">{{this.cuerpo}}</div>
      </li>
    {{/each}}
  </div>
  <form id="chat-form" method="POST">
    <div class="form-group">
      <label for="email-input">Correo:</label>
      <input id="email-input" name="correo" type="email" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="tipo-input">Tipo:</label>
      <select id="tipo-input" name="tipo" class="form-control">
        <option value="texto">Usuario</option>
        <option value="texto">Sistema</option>
      </select>
    </div>
    <div class="form-group">
      <label for="cuerpo-input">Mensaje:</label>
      <textarea id="cuerpo-input" name="cuerpo" class="form-control" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>

</body>
<script src="../public/scripts/chat.js"></script>
<script src="/socket.io/socket.io.js"></script>
</html>